*.gem
*.rbc
.bundle
.config
.yardoc
.gitignore
vendor
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
tmp
CMakeCache.txt
CMakeFiles
*.cmake
*.log
build/
install_manifest.txt
*.o
*.bundle
*.so
*.dll
